header .main-nav {
  height: 100px;
  -webkit-box-shadow: 0px 5px 0px 0px #e7eaed;
  box-shadow: 0px 5px 0px 0px #e7eaed;
}

header .main-nav .navbar-brand svg {
  width: 110px;
}

header .main-nav .nav-item a {
  text-transform: uppercase !important;
  position: relative;
  color: #000 !important;
  margin: 0 10px;
  font-size: 13px;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  font-weight: bold;
}

header .main-nav .nav-item a::after {
  content: "";
  right: -10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: absolute;
  width: 1px;
  background-color: #dedede;
  height: 50%;
}

header .main-nav .nav-item a:hover {
  color: #0e95ff !important;
}

header .main-nav .nav-item:last-child a::after {
  display: none;
}

header .main-nav .right_box .box_item .line {
  width: 1px;
  background-color: #dedede;
  height: 56%;
  margin: 0 10px;
}

header .main-nav .right_box .box_item p {
  font-size: 12px;
  margin: 0 0 0 10px;
  font-weight: bold;
}

header .main-nav .right_box .box_item p .cart_price {
  font-weight: normal;
}

header .main-nav .right_box .box_item .cart_icon {
  position: relative;
}

header .main-nav .right_box .box_item .cart_icon .cart_items_number_badge {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 12px;
  background-color: #0e95ff;
  position: absolute;
  top: -20%;
  right: -40%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

header .main-nav .right_box .box_item:last-child .line {
  display: none;
}

header .main-nav .navbar-toggler {
  border: none !important;
  padding: 0;
}

header .main-nav .navbar-toggler-icon {
  background-image: url("../assets/svg/hamburger.svg");
}

header .mobile_nav {
  display: none;
  position: fixed;
  left: -100%;
  top: 0;
  background-color: #fff;
  width: 80%;
  height: 100vh;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
  overflow: scroll;
}

header .mobile_nav .mobile_logo {
  padding-left: 32px !important;
}

header .mobile_nav .nav-item a {
  text-transform: uppercase !important;
  color: #000 !important;
  font-size: 13px;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  font-weight: bold;
  padding: 12px 0 12px 40px;
}

header .mobile_nav .nav-item a:hover {
  color: #0e95ff !important;
  background-color: #E6F4FF;
}

header .mobile_nav .nav-item a:hover svg {
  fill: #0e95ff;
}

header .mobile_nav.show {
  left: 0;
}

header .mobile_nav .my_account_title,
header .mobile_nav .main_menu_title {
  font-size: 14px;
  font-weight: bold;
  color: #0E95FF;
  margin: 18px 0 18px 30px;
  text-transform: uppercase;
}

header .mobile_nav .my_account .my_account_profile {
  padding: 12px 0 12px 30px;
}

header .mobile_nav .my_account .my_account_profile h5 {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 0;
}

header .mobile_nav .line {
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

header .mobile_nav .mobile_log_out_user {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

header .mobile_nav .mobile_log_out_user:hover {
  background-color: #dedede;
}

header .mobile_nav .mobile_log_out_user a {
  padding: 20px;
  font-size: 14px;
  color: #0e95ff;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 768px) {
  .main-nav {
    height: 80px;
  }
  .navbar-brand {
    margin-right: 0 !important;
    padding: 0 !important;
    -webkit-transform: translateX(21px);
            transform: translateX(21px);
  }
  header {
    z-index: 9999;
  }
  header .mobile_nav {
    display: block;
  }
  header .mobile_nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .mobile_nav .nav-item {
    margin: 6px 0;
  }
  .box_item .cart_icon + p {
    display: none;
  }
  .box_item:nth-child(2) {
    margin-right: 8px;
  }
  .box_item:nth-child(2) p,
  .box_item:nth-child(2) .line {
    display: none;
  }
  .box_item:nth-child(1) {
    display: none !important;
  }
  .main-nav .navbar-brand svg {
    width: 90px !important;
  }
}

.breadcrumb {
  font-size: 12px;
  margin: 2px 0;
}

.breadcrumb .breadcrumb-item a {
  color: #000 !important;
}

.breadcrumb .breadcrumb-item.active {
  color: #AAAAAA;
  font-weight: bold !important;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.product_details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42% 56%;
      grid-template-columns: 42% 56%;
  grid-gap: 2%;
}

.product_details .hoz_card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px 0px #e7eaed;
  box-shadow: 0px 5px 0px 0px #e7eaed;
  padding: 19px 14px;
}

.product_details .product_images_card .hoz_card {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.product_details .product_images_card fieldset.active {
  display: block !important;
}

.product_details .product_images_card fieldset {
  display: none;
}

.product_details .product_images_card .pic0 {
  width: 100%;
}

.product_details .product_images_card .product-pic {
  padding-left: auto;
  padding-right: auto;
  width: 100%;
  padding: 50px;
  margin: auto;
}

.product_details .product_images_card .thumbnails {
  bottom: -300px;
}

.product_details .product_images_card .fit-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  border: 1.5px solid transparent;
}

.product_details .product_images_card .tb {
  width: 62px;
  height: 62px;
  border: 1.5px solid transparent;
  margin: 2px;
  opacity: 0.4;
  border-radius: 5px;
  cursor: pointer;
}

.product_details .product_images_card .tb-active {
  opacity: 1;
  border: 1.5px solid #0e95ff;
}

.product_details .product_images_card .thumbnail-img {
  width: 60px;
  height: 60px;
}

.product_details .product_details_card .product_basic_details .product_brand {
  color: #AAAAAA;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 2px;
}

.product_details .product_details_card .product_basic_details .product_title {
  margin: 0;
  color: #000000;
  font-size: 17px;
  font-weight: normal;
}

.product_details .product_details_card .product_basic_details .product_price {
  margin-top: 16px;
}

.product_details .product_details_card .product_basic_details .product_price p {
  color: #AAAAAA;
  font-weight: bold;
  margin: 0;
}

.product_details .product_details_card .product_basic_details .product_price p .original_product_price {
  font-size: 14px;
  text-decoration: line-through;
  color: #CCCCCC;
  margin-left: 15px;
  padding-left: 0;
}

.product_details .product_details_card .product_basic_details .product_price .installement {
  font-weight: normal !important;
  font-style: 14px;
  color: #000;
}

.product_details .product_details_card .product_basic_details .product_price .installement .installement_price {
  font-weight: bold;
}

.product_details .product_details_card .product_basic_details .product_colors {
  margin-top: 13px;
}

.product_details .product_details_card .product_basic_details .product_colors p {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 7px;
}

.product_details .product_details_card .product_basic_details .product_colors label {
  margin-right: 8px;
  border: 1px solid #DEDEDE;
  border-radius: 5px !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100px;
  font-size: 14px;
  padding: 9px 12px;
}

.product_details .product_details_card .product_basic_details .product_colors label.active {
  border: 1px solid #0E95FF;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 5px !important;
}

.product_details .product_details_card .product_basic_details .product_cta {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.product_details .product_details_card .product_basic_details .product_cta .add_to_cart_btn {
  background-color: #0e95ff;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 50px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 0px 0px #e7eaed;
  box-shadow: 0px 5px 0px 0px #e7eaed;
}

.product_details .product_details_card .product_basic_details .product_cta .add_to_cart_btn:hover {
  background-color: #0c8ff3 !important;
}

.product_details .product_details_card .product_basic_details .product_cta .add_to_cart_btn .add-to-cart-icon {
  background-image: url(../assets/icons/cart_ic.svg);
  background-size: cover;
  display: inline-block;
  height: 18.69px;
  width: 21.22px;
  margin-right: 8px;
}

.product_details .product_details_card .product_basic_details .product_cta svg.fav_btn:hover {
  cursor: pointer;
}

.product_details .product_details_card .product_basic_details .product_cta svg.fav_btn:hover .is_heart {
  fill: #0e95ff;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.product_details .product_details_card .product_basic_details .product_cta svg.fav_btn:hover .is_border {
  fill: #0e95ff;
}

.product_details .product_details_card .product_basic_details .product_description {
  margin-top: 25px;
}

.product_details .product_details_card .product_basic_details .product_description p {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  margin-bottom: 7px;
}

.product_details .product_details_card .product_basic_details .product_description .line {
  margin: 12px 0;
  width: 100%;
  height: 2px;
  background-color: #DEDEDE;
}

.product_details .product_details_card .product_basic_details .product_description .product_desc_text {
  font-size: 14px;
  font-weight: normal;
}

.product_details .product_details_card .product_handle_lock_door_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px 0px #e7eaed;
  box-shadow: 0px 5px 0px 0px #e7eaed;
  width: 100%;
}

.product_details .product_details_card .product_handle_lock_door_info .row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 !important;
  margin: 0 !important;
}

.product_details .product_details_card .product_handle_lock_door_info .box {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  border-right: 1px solid #dedede;
  padding: 0 !important;
  width: 100%;
}

.product_details .product_details_card .product_handle_lock_door_info .box:last-child {
  border-right: none !important;
}

.product_details .product_details_card .product_handle_lock_door_info .box img {
  height: 51.95px;
}

.product_details .product_details_card .product_handle_lock_door_info .handle_type,
.product_details .product_details_card .product_handle_lock_door_info .lock_type,
.product_details .product_details_card .product_handle_lock_door_info .door_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 28px;
}

.product_details .product_details_card .product_handle_lock_door_info .handle_type .box_desc,
.product_details .product_details_card .product_handle_lock_door_info .lock_type .box_desc,
.product_details .product_details_card .product_handle_lock_door_info .door_type .box_desc {
  margin-left: 20px;
}

.product_details .product_details_card .product_handle_lock_door_info .handle_type .box_desc h3,
.product_details .product_details_card .product_handle_lock_door_info .handle_type .box_desc p,
.product_details .product_details_card .product_handle_lock_door_info .lock_type .box_desc h3,
.product_details .product_details_card .product_handle_lock_door_info .lock_type .box_desc p,
.product_details .product_details_card .product_handle_lock_door_info .door_type .box_desc h3,
.product_details .product_details_card .product_handle_lock_door_info .door_type .box_desc p {
  font-size: 14px;
  font-weight: 500;
}

.product_details .product_details_card .product_handle_lock_door_info .handle_type .box_desc p,
.product_details .product_details_card .product_handle_lock_door_info .lock_type .box_desc p,
.product_details .product_details_card .product_handle_lock_door_info .door_type .box_desc p {
  font-weight: normal !important;
  color: #0E95FF;
  margin: 0;
}

.product_details .product_details_card .product_unlock_methods p {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.product_details .product_details_card .product_unlock_methods .unlock_methods .row {
  margin-bottom: 0px !important;
}

.product_details .product_details_card .product_unlock_methods .unlock_methods .method {
  margin: 10px 0;
  text-align: center;
}

.product_details .product_details_card .product_unlock_methods .unlock_methods .method img.method_image {
  margin-bottom: 8px;
}

.product_details .product_details_card .product_unlock_methods .unlock_methods .method p.method_title {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
}

.product_details .product_details_card .product_unlock_methods .unlock_methods .method p.method_title sup {
  color: #0e95ff;
}

.product_details .product_details_card .product_requirements p {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.product_details .product_details_card .product_requirements .product_requirement {
  font-size: 14px;
  font-weight: normal;
}

.product_details .product_details_card .product_requirements .product_requirement .product_requirement_number {
  color: #0e95ff;
}

.product_details .product_details_card .product_requirements .product_requirement i {
  font-size: 12px !important;
}

.product_details .product_details_card .product_warranty p {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.product_details .product_details_card .product_warranty p.product_warranty_text {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .pic0 {
    width: 250px;
    height: 350px;
  }
}

.related_products h3 {
  font-size: 14px;
  font-weight: bold;
}

.carousel-item {
  background-color: #F4F7FA !important;
}

.carousel-item.active .shop_card:nth-child(6) {
  margin-right: 0;
}

.carousel-item .shop_card {
  background-color: #fff;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px;
  color: black;
  position: relative;
}

.carousel-item .shop_card .shop_card_header {
  text-align: center;
}

.carousel-item .shop_card .shop_card_header svg.heart_ic {
  position: absolute;
  top: 12px;
  right: 10px;
}

.carousel-item .shop_card .shop_card_bottom .product_brand {
  color: #AAAAAA;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 2px;
}

.carousel-item .shop_card .shop_card_bottom .product_name {
  color: #000;
  font-size: 12px;
  font-weight: normal;
}

.carousel-item .shop_card .shop_card_bottom .product_price {
  margin-top: 16px;
}

.carousel-item .shop_card .shop_card_bottom .product_price p {
  color: #AAAAAA;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}

.carousel-item .shop_card .shop_card_bottom .product_price p .original_product_price {
  font-size: 12px;
  text-decoration: line-through;
  color: #CCCCCC;
  margin-left: 10px;
  padding-left: 0;
}

.carousel-item .shop_card .shop_card_bottom .product_price .installement {
  font-weight: normal !important;
  font-size: 8.5px;
  color: #000;
}

.carousel-item .shop_card .shop_card_bottom .product_price .installement .installement_price {
  font-weight: bold;
}

.carousel-item .shop_card .shop_card_bottom .product_price .installement img {
  width: 30px;
}

footer {
  margin-top: 23px;
  margin-bottom: 0;
  padding: 24px 0 0px !important;
  background: #fff;
}

footer .logo-col svg {
  width: 90px;
}

footer .logo-col small {
  font-size: 14px;
  font-weight: bold;
  color: #0e95ff;
}

footer .footer_items_header {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

footer .footer_sub_item {
  font-size: 12px;
  font-weight: normal;
  color: #000;
}

footer .newsletter input {
  font-size: 12px;
  font-weight: normal;
  color: #AAAAAA;
  background: #F2F2F2;
  border-radius: 5px;
  padding: 8px 12px !important;
  height: 40px;
  margin: 0 !important;
  width: 100% !important;
}

footer .newsletter button {
  border-radius: 5px !important;
  background: #0e95ff;
  height: 40px;
  width: 40px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .newsletter button i {
  font-size: 14px;
}

footer .newsletter .social-icons a {
  margin-right: 6px;
  font-size: 18px;
}

footer .bottom_footer .payment_logos img {
  margin-right: 20px;
}

footer .bottom_footer p {
  font-size: 12px;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .breadcrumb {
    display: none;
  }
  .product_details {
    margin-top: 3%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1%;
  }
  .product_details .product_images_card .pic0 {
    width: 50%;
    height: 50%;
  }
  .product_details .product_images_card .thumbnails {
    display: none !important;
  }
  .product_details .product_details_card .product_handle_lock_door_info .handle_type,
  .product_details .product_details_card .product_handle_lock_door_info .lock_type,
  .product_details .product_details_card .product_handle_lock_door_info .door_type {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 12px 0;
  }
  .product_details .product_details_card .product_handle_lock_door_info .handle_type img,
  .product_details .product_details_card .product_handle_lock_door_info .lock_type img,
  .product_details .product_details_card .product_handle_lock_door_info .door_type img {
    height: 30px;
  }
  .product_details .product_details_card .product_handle_lock_door_info .handle_type .box_desc,
  .product_details .product_details_card .product_handle_lock_door_info .lock_type .box_desc,
  .product_details .product_details_card .product_handle_lock_door_info .door_type .box_desc {
    margin-left: 0;
    margin-top: 10px;
  }
  .product_details .product_details_card .product_handle_lock_door_info .handle_type .box_desc h3,
  .product_details .product_details_card .product_handle_lock_door_info .lock_type .box_desc h3,
  .product_details .product_details_card .product_handle_lock_door_info .door_type .box_desc h3 {
    margin: 0;
  }
  .product_details .product_details_card .product_handle_lock_door_info .handle_type .box_desc h3,
  .product_details .product_details_card .product_handle_lock_door_info .handle_type .box_desc p,
  .product_details .product_details_card .product_handle_lock_door_info .lock_type .box_desc h3,
  .product_details .product_details_card .product_handle_lock_door_info .lock_type .box_desc p,
  .product_details .product_details_card .product_handle_lock_door_info .door_type .box_desc h3,
  .product_details .product_details_card .product_handle_lock_door_info .door_type .box_desc p {
    font-size: 12px;
  }
  .product_details .product_details_card .product_requirements label.product_requirement {
    font-size: 12px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .related_products .related_products_carousel {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  footer .logo-col {
    margin-bottom: 12px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  footer .logo-col small {
    margin-bottom: 0 !important;
  }
  footer .footer_sub_item {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(33.333%);
            transform: translateX(33.333%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-33.333%);
            transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=productpage.css.map */